<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler mb-3" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand text-light" routerLink="">CienTwitter</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
        <div class="navbar-expand">
            <div class="navbar-nav">
                <div class="nav-item">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Inscrever-se
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>

<app-cadastro class="modal" id="myModal"></app-cadastro>