<div class="card">
    <div class="card-header">
        <b>
            {{post.conteudo.titulo}}
        </b>
    </div>
    <div class="card-body">
        <p class="card-text">{{post.conteudo.conteudo}}</p>
    </div>
    <div class="card-footer text-muted">
        {{post.conteudo.localDaPublicacao}} - {{post.conteudo.anoDaPublicacao}}
        <br>
        Curtido por {{post.curtidas}} membros
        <div class="float-right">                                
            <button type="button" class="btn btn-info" (click)="botao(post.id)">{{status}} post</button>
        </div>
    </div>
</div>
<br>
